// Mixins

// Reset list style
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// center content
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// link normalize
@mixin link {
  text-decoration: none;
}
