//Variables
// menu and side bar black 33,33,33
// search bar and main container black 24, 24, 24
// buttons and hover 61, 61, 61
// on-click and main font 255, 255, 255
// secondary font 170, 170, 170
